# ======================
# Visual Studio / .NET
# ======================
.vs/
**/.vs/
bin/
obj/
**/bin/
**/obj/

# ======================
# Node / React
# ======================
node_modules/
**/node_modules/
dist/
**/dist/

# ======================
# Vite
# ======================
.vite/

# ======================
# Logs / misc
# ======================
*.log
.env
.env.local